* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Red Hat Display', sans-serif;
    background-color: hsl(225, 100%, 94%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 10vh 10vw;
    background-color: hsl(225, 100%, 98%);
    border-radius: 20px;
}

.ilustracao {
    background-image: url(../images/illustration-hero.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 180px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.caixa-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo-principal {
    color: hsl(223, 47%, 23%);
    font-size: 1.3em;
    margin: 25px 0 10px 0;
}

.texto-principal {
    color: hsl(224, 23%, 55%);
    font-size: 1em;
    text-align: center;
    margin: 10px 0;
}

.assinarura-plano {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.plano {
    color: hsl(223, 47%, 23%);
    font-size: 1em;
}

.plano-texto {
    color: hsl(224, 23%, 55%);
    font-size: 0.9em;
}

.link {
    color: hsl(245, 75%, 52%);
    font-size: 0.9em;
}

.btn-pagamento {
    border: none;
    padding: 15px 50px;
    border-radius: 15px;
    font-size: 1.1em;
    font-weight: 700;
    background-color: hsl(245, 75%, 52%);
    color: hsl(225, 100%, 98%);
    margin: 20px 0 10px 0;
}

.btn-cancelamento {
    border: none;
    background-color: transparent;
    font-size: 0.9em;
    font-weight: 700;
    color: hsl(224, 23%, 55%);
    margin: 10px 0 20px 0;
}
